@import url("../../../styles.css");

  .btn-outline-danger {
    height: 20vh;
    width: 35vh;
    font-size: 3vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 9pt;
    border-top: 2px solid var(--cor-media);
    border-bottom: 2px solid var(--cor-media);
    border-left: none;
    border-right: none;
   /* border-color: linear-gradient(to bottom, red, yellow 25%, yellow 75%, red);*/
    color: var(--cor-media);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }


  .btn-outline-danger:hover {
      background-color: var(--cor-clara);
  }
  .button-line {
    white-space: pre-line; /* Mantém as quebras de linha do texto */
    display: block; /* Faz cada linha ocupar uma linha inteira */
    margin: 0; /* Remove a margem padrão */
    line-height: 1.5;
  }
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os botões horizontalmente */
  }
  .superior{
    width:80vw;
    margin-left:10vw;
    height:30vh;
  }
  .lTitulos{
    height: 20%;
    width: 37vw;
    margin-left: 2vw;
    text-align: center;
    color: var(--cor-escura);
  }

  .box-avisos{
    height: 95%;
    width: 95%;
    margin-left: 1vw;

    padding: 5px;
    resize: none;
    border-color: white;
  }

  .acampos {
    border: none;
    width:100%;
    height:80%;
    display: flex;
  }
  .acamposI{
    margin-left:3%;
    width:45%;
    height:90%;
    border-radius: 10px;
    border: 2px solid var(--cor-clara);
    border-left: 2px solid rgb(252, 233, 249);
    border-right: 2px solid rgb(252, 233, 249);
    padding: 5px;
  }
