
  textarea {
    height: 100%;
    width: 100%;
    padding: 4px;

    line-height: 1.5;
    border-radius: 8px;
    border: double 1px burlywood;
    resize: none;  /*Isso fará com que o espaço entre as linhas seja 2.5 vezes o tamanho normal da fonte */
    background-color: rgb(254, 247, 237);
    }
    .bloco-input::-webkit-scrollbar-thumb {
      background-color: #fddfe5;
      border-radius: 6px;
    }

    .bloco-input::-webkit-scrollbar {
      width: 14px;
      background-color:#ffffff;
      border-width: 1px;
      border-style: solid;
      border-color: #f6a98f;
      border-radius: 6px;
      padding: 2px;
      margin:2px;
    }
