.Contorno {
    height: 8vh;
    width: 10vw;
    padding: 1px;
    border: solid 2px rgb(232, 172, 210);
    border-radius: 10px;
    background-color: white;
    display: inline-flex;
    margin: 1px;
    border-left: none;
    border-right: none;
}

.Textos {
    height: calc(100% - 1.5px);
    width: 80%;
}
.Nome {
    height: 50%;
    font-size: 12;
}
.Sessao {
    height: 50%;
    font-size: 8;
}
.Tag {
    height: 90%;
    width: 15%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(210, 210, 210);
    margin: 2px;
}